@font-face {
    font-family: "Hebbo-Black";
    src: url(./assets/fonts/Heebo-Black.ttf);
}

html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    direction: rtl;
    font-family: 'Hebbo-Black';
    background-image: url(./assets/media/background.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

.allText {
    font-size: 3vh;
    width: 50vw;
    position: absolute;
    right: 25vw;
    top: 30vh;
}

#startBtn {
    width: 15vw;
    position: absolute;
    bottom: 20vh;
    right: 42.5vw;
    background-color: rgb(243, 71, 194);
    color: white;
    padding: 2.5%;
    border-color: white;
    border-radius: 15px;
    font-family: 'Hebbo-Black';

}

#startBtn:hover {
    cursor: pointer;
}

.arrows {
    height: 15vh;
    position: absolute;
    bottom: 5vh;
    visibility: hidden;
}
.arrows:hover {
    cursor: pointer;
}
#next {
    left: 2.5vw;
}
#back {
    right: 2.5vw;
}

#workFlowPage {
    visibility: hidden;
}
#workText {
    top: 10vh;
}
#workFlow {
    position: absolute;
    top: 30vh;
    right: 45vw;
    width: 10vw;
    height: 60vh;
}
#workFlowClickable {
    position: absolute;
    top: 30vh;
    right: 45vw;
    width: 10vw;
    height: 59vh;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: space-between;
}
.steps {
    background-color: transparent;
    height: 8vh;
    z-index: 2;
}
.steps:hover {
    cursor: pointer;
}
#stepDescription {
    background-color:rgb(243, 71, 194);
    height: 50vh;
    width: 30vw;
    position: absolute;
    right: 35vw;
    top: 25vh;
    border-style: solid;
    border-color: transparent;
    border-radius: 15px;
    visibility: hidden;
    color: white;
    font-family: 'Hebbo-Black';
    z-index: 4;
}
#closeStep {
    height: 5vh;
    position: absolute;
    right: 1vw;
    top: 1vh;
}
#closeStep:hover{
    cursor: pointer;
}
#underlineText {
    text-decoration: underline;
}
#stepBackground {
    z-index: 3;
    height: 100vh;
    width: 100vw;
    position: fixed;
    right: 0;
    top: 0;
    background-color: white;
    opacity: 0.5;
    visibility: hidden;

}



@media only screen and (max-width: 600px) {
    .allText {
        font-size: 2.5vh;
        width: 60vw;
        position: absolute;
        right: 20vw;
        top: 25vw;
    }
    
    #startBtn {
        width: 35vw;
        position: absolute;
        bottom: 25vh;
        right: 32.5vw;
    }
    .arrows {
        height: 10vh;
        position: absolute;
        bottom: 5vh;
        visibility: hidden;
    }
    #workText {
        top: 5vh;
    }
    #workFlow {
        position: absolute;
        top: 30vh;
        right: 35vw;
        width: 30vw;
        height: 50vh;
    }
    #workFlowClickable {
        position: absolute;
        top: 30vh;
        right: 35vw;
        width: 30vw;
        height: 49vh;
        display: flex;
        flex-direction: column;
        flex-flow: column;
        justify-content: space-between;
    }
    .steps {
        background-color: transparent;
        height: 8vh;
        z-index: 2;
    }
    #stepDescription {
        background-color:rgb(243, 71, 194);
        height: 50vh;
        width: 60vw;
        position: absolute;
        right: 20vw;
        top: 25vh;
        border-style: solid;
        border-color: transparent;
        border-radius: 15px;
        padding-top: 10%;
    }
}

